# Keep the entries sorted to reduce the risk for a merge conflict
*.[aod]
*.inc
*.[0-9]
*~
/source/Makefile
/source/bin/*
/source/common/Makefile
/source/common/icucfg.h
/source/common/svchook.mk
/source/common/unicode/platform.h
/source/config.log
/source/config.status
/source/config/icu-config
/source/config/pkgdataMakefile
/source/data/Makefile
/source/data/out/*
/source/data/pkgdataMakefile
/source/extra/Makefile
/source/extra/scrptrun/Makefile
/source/extra/uconv/Makefile
/source/extra/uconv/pkgdataMakefile
/source/extra/uconv/uconvmsg/fr.res
/source/extra/uconv/uconvmsg/root.res
/source/extra/uconv/uconvmsg/uconvmsg.dat
/source/extra/uconv/uconvmsg/uconvmsg.lst
/source/extra/uconv/uconvmsg/uconvmsg_dat.s
/source/i18n/Makefile
/source/icudefs.mk
/source/io/Makefile
/source/layout/Makefile
/source/layoutex/Makefile
/source/lib/*
/source/samples/Makefile
/source/samples/cal/Makefile
/source/samples/cal/icucal
/source/samples/date/Makefile
/source/samples/date/icudate
/source/samples/layout/Makefile
/source/stubdata/Makefile
/source/stubdata/libicudata.*
/source/test/Makefile
/source/test/cintltst/Makefile
/source/test/compat/Makefile
/source/test/hdrtst/Makefile
/source/test/intltest/Makefile
/source/test/iotest/Makefile
/source/test/letest/Makefile
/source/test/perf/Makefile
/source/test/perf/charperf/Makefile
/source/test/perf/collationperf/Makefile
/source/test/perf/convperf/Makefile
/source/test/perf/normperf/Makefile
/source/test/perf/strsrchperf/Makefile
/source/test/perf/ubrkperf/Makefile
/source/test/perf/unisetperf/Makefile
/source/test/perf/usetperf/Makefile
/source/test/perf/ustrperf/Makefile
/source/test/perf/utfperf/Makefile
/source/test/perf/utrie2perf/Makefile
/source/test/testdata/Makefile
/source/test/testdata/pkgdataMakefile
/source/tools/Makefile
/source/tools/ctestfw/Makefile
/source/tools/ctestfw/libicutest.*
/source/tools/genbidi/Makefile
/source/tools/genbrk/Makefile
/source/tools/gencase/Makefile
/source/tools/genccode/Makefile
/source/tools/gencfu/Makefile
/source/tools/gencmn/Makefile
/source/tools/gencnval/Makefile
/source/tools/genctd/Makefile
/source/tools/gennames/Makefile
/source/tools/gennorm2/Makefile
/source/tools/genpname/Makefile
/source/tools/genprops/Makefile
/source/tools/genrb/Makefile
/source/tools/gensprep/Makefile
/source/tools/gentest/Makefile
/source/tools/gentest/gentest
/source/tools/genuca/Makefile
/source/tools/icuinfo/Makefile
/source/tools/icuinfo/icuinfo
/source/tools/icupkg/Makefile
/source/tools/icuswap/Makefile
/source/tools/makeconv/Makefile
/source/tools/pkgdata/Makefile
/source/tools/toolutil/Makefile
/source/tools/tzcode/Makefile
TAGS
tags
